SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=info@royall-example.de
SMTP_PASS=changeme
CONTACT_RECEIVER=info@royall-example.de


SMTP_HOST=mail.ezzedini.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=info@ezzedini.com
SMTP_PASS=du5xzxol7i5jCQr8JlUo!&
SMTP_TO=empfänger_email@example.com